APP_HOST=
PORT=
APP_SERVER=
OVERRIDE_APP_SERVER=
APP_SERVER_SECRET_KEY=

DATABASE_URL=
IS_PROD=
DYNAMODB_LOCALHOST=
DYNAMODB_TABLE_PREFIX=

AROFLO_BASE_URL=
AROFLO_ACCEPT=
AROFLO_U_ENCODED=
AROFLO_P_ENCODED=
AROFLO_ORG_ENCODED=
AROFLO_HOST_IP=
AROFLO_NOTE_FILTER=
AROFLO_NOTE_STICKY=

ADMIN_EXTENSION_ID_DEV_PASS_LIST=

RINGCENTRAL_SERVER=
RINGCENTRAL_CLIENT_ID=
RINGCENTRAL_CLIENT_SECRET=
